/*** Allgemein ***/

@charset "utf-8";

/*
* CSS-Design
* Website Dacapo.Design
*/

/* Farbwerte
Dunkelgrau:
rgba(76,76,76,1)
#4c4c4c
 
Grau:
rgba(166,166,166,1)
#a6a6a6
 
Hellgrau:
rgba(246,246,246,1)
#f9f9f9
 
Gold:
rgba(240,194,74,1)
#f0c24a

Orange:
rgba (239, 119, 1, 1)
#ef7701
*/
 
/* Reset * * * * * * * * */
*{
    margin: 0;
    padding: 0;
    font: 400 1.0rem/1.5 'Alegreya Sans', Helvetica, Arial, sans-serif;
    color: #4c4c4c;
    -mozbox-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html{
	height: 100%;
	scroll-behavior: smooth;
}


/* Webfonts-Einbindung */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

.wrapper{
max-width: 1250px;
margin: 0 auto;
}

.column{
float: left;
}
 
.column:first-child{
margin-left: 0;
}

/* Clearfix */
.row:before,
.row:after {
content: " ";
display: table;
}
 
.row::after {
clear: both;
}

.float{
    float: left;
}

img{
max-width: 100%;
height: auto;
}

img.web{
    border-radius: 50px 0 0 0;
}

ul {
    list-style: none;
}

.clearleft {
    clear: left;
}

/* Raster */
.col-1 {width: 8.33%;}
.col-1-mehr {width: 12.3%;}
.col-1-weniger {width: 5%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    height: 100%;
}

/* Typo */
h1, h2, h3, h4, h5, h6{
font-family: 'Alegreya', serif;
font-weight: 500;    
margin-bottom: 20px;
line-height: 1.2;
font-style: italic;
font-variant: small-caps;
}

h1{     
font-size: 3.0rem; /* 48px; */  
} 
 
h2{  
font-size: 2.5rem; /* 38px; */     
} 

h3{    
font-size: 2.1rem; /* 28px; */ 
font-variant: small-caps;
font-style: normal;
}

h4{
font-size: 1.9rem; /* 24px; */
line-height: 2rem;
}
 
h5{
font-size: 1.3rem; /* 22px; */
color: #f0c24a;
font-variant: none;
}
 
h6{
font-size: 1.2rem; /* 20px; */
}

p{
font-size: 1.1rem; /* 18px; */
margin: 15px 0;
}

p.strong{
    font-weight: 600;
}

p.zitat{
    font-size: 1.5rem;
    font-family: 'Alegreya', serif;
font-weight: 500;    
line-height: 1.2;
font-style: italic;
    text-align: center;
    margin-top: 80px;
    clear: left;
}

p.zeugnisse{
    margin-top: 30px;
}

p.zitatname{
    text-align: center;
}

a{
    text-decoration: none;
    color: #ef7701;
    font-size: 1.15rem;
    font-weight: 600;
}

a:hover{
    color: #a6a6a6;
    font-size: 1rem;
}


/* Navigation */
header{
    height: 100px;
}

#logo{
    max-height: 70px;
    float: left;
}

.right{
    position: relative;
    float: right;
    text-align: center;
    height: 100px;
}

.nav-link{
    width: 150px;
    text-align: center;
    float: right;
}

.nav-item{
    text-decoration: none;    
}

span.nav-text{
    font-size: 1.25rem;
    font-variant: small-caps;
}

span.nav-text:hover {
  color: #f0c24a;
    font-weight: 600;
}

.nav-link.active {
  background-color: #a6a6a6;
  border-radius: 10px 0 0 0;
    padding-bottom: 9px;
}

span.active{
    color: white;
    font-weight: 600;
}

hr.navactive{
    width: 70%;
    border: 1.5px solid white;
    margin: 8.5px auto;
}


/* Hero Start */
.hero-start{
    background-image: url(../img/hero-start_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
}

.hero-start-text{
    text-align: center;
    color: white;
    padding: 70px 0 0 50px;
}

.hero-start img{
    margin-top: -30px;
    margin-bottom: 40px;
}

h1.heroh1{
    color: white;
    font-variant: small-caps;
}

span.dacapo{
    color: #f0c24a;
    font-size: 3.0rem;
    font-style: italic;
    font-weight: 700;
}

.heroh4{
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    color: white;
    font-size: 1.9rem;
}

strong.heroh4{
    color: white;
    font-weight: 700;
    font-style: italic;
}

span.hero-start-h4{
    color: white;
}

h4.heroh4{
    margin-bottom: 50px;
}

.button{
    background-color: #ef7701;
    color: white;
    padding: 15px;
    font-size: 1.1rem;
    border-radius: 10px 0 0 0;
    text-decoration: none;
    border: 1px solid white;
}

.button:hover{
    background-color: #f0c24a;
    text-decoration: underline;
}

img.button-klick{
    margin-bottom: -4px;
    margin-left: 7px;
    transform: rotate(20deg);
}


/* Über Start */
.über-start{
    margin-top: -100px;
}

h2.überh2, h2.projekteh2{
    text-align: center;
    font-weight: 700;
    margin-bottom: -15px;
}

span.dacapoh2{
   font-size: 2.5rem; /* 38px; */ 
    color: #f0c24a;
    font-style: italic;
    font-weight: 700;
}

img.ornamentcenter{
    margin: auto;
    display: block;
}

.über-start p{
    margin-top: 20px;
}

span.pstrong{
    font-weight: 700;
}


/* Projekte Start */
.projekte-start{
    background-image: url(../img/projekte-start.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
    margin-top: 0;
}

h2.projekteh2{
    color: white;
    margin-top: 220px;
}

.projekte-start img{
    margin-top: 5px;
}

.col-4-abstand{
    width: 30%;
    border-radius: 25px 0 0 0;
    background-color: white;
    margin-left: 55px;
    margin-top: 25px;
    height: max-content;
    text-align: center;
    box-shadow: 0 0 7px #a6a6a6;
}

h4.h3projektestart{
    margin-top: -13px;
}

img.left{
    float: left;
    margin-right: 15px;
    border-radius: 25px 0 0 0;  
    margin-bottom: 10px;
}

.projekte-start h3, .projekte-start h4{
    margin-bottom: 15px;
}

.projekte-start h3{
    color: #f0c24a;
}


/* Unterseite Projekte */

/* Hero Projekte */
.hero-projekte{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
}

.hero-projekte-text{
    text-align: center;
    color: white;
    padding: 30px 0 0 0;
}

.hero-projekte-text h1{
    line-height: 2.5rem;
    margin-bottom: 0;
}

.col-4-abstand-projekte{
    width: 33%;
    text-align: center;
}

.col-4-abstand-projekte h3{
    color: #f0c24a;
    margin-top: -15px;
}

.col-4-abstand-projekte img{
    box-shadow: 0 0 15px white;
}

.hero1{
    margin-top: 40px;
}

.hero3{
    margin-top: -40px;
}

/* Projekte Grafik Design */
/* Sidebar */
.col-1-sidebar{
    width: 12%;
}

#sidebar li{
list-style: none;
border-bottom: 1px solid #f0c24a;
}

#sidebar{
margin-left: 0;
margin-top: 0;
}

#sidebar li a{
color: #4c4c4c;
text-align: left;
    text-decoration: none;
    font-weight: 300;
font-size: 1.1rem;
display: block;
padding: 15px 0 15px 0;
}

#sidebar{
border-top: 1px solid #f0c24a;
margin-top: 0;
}

#sidebar li a:hover, #sidebar li a.active{
color: #a6a6a6;
font-weight: 600;
text-decoration: none;
font-style: italic;
    letter-spacing: 0.15em;
}

#sidebar li a.active, #sidebar_bestatter-suche li a.active{
    text-align: right;
}


/* Drop-Down-Menü */

#sidebar ul li a{ 
display: block; 
font-size: 1.1rem; 
text-transform: none;
}

#sidebar ul{
position: absolute;
top: 35px;
background: #fff;
padding: 15px 15px 10px 15px;
width: 190px;
box-shadow: 0 5px 7px rgba(0,0,0,0.2);
display: none;
border-radius: 30px 0 30px 30px;
z-index: 9999;
}

#sidebar ul li{
margin-left: 0;
}

#sidebar li{
position: relative;
}

#sidebar li:hover ul{
display:block;
}

#sidebar ul.ul1{
    left: 130px;
}

#sidebar ul.ul2{
    left: 310px;
}

#sidebar ul.ul3{
    left: 490px;
}


.projekte-grafik{
    margin-top: -150px;
}

.projekte-groß{
    margin-top: -10px;
}

img.imgrund{
        border-radius: 40px 0 0 0;
}

.projekte-gold-groß{
    padding: 40px 25px 0 25px;
    margin-top: -38px;
    float: left;
}

.projekte-gold-groß a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

.projekte-gold-klick img{
    transform: rotate(35deg);
    margin-top: 15px;
}

.projekte-grafik .col-5-groß, .projekte-start .col-5-groß { 
    width: 41.66%;
box-shadow: 0px 10px 20px 0 rgba(87, 37, 0, .2);
background-color: #f0c24a;
    border-radius: 50px 0 0 0;
transition: all 0.15s ease-out 0s;
flex-grow: 1; 
flex-shrink: 1;
flex-basis: 340px;
margin: 15px 2% 65px 5.5%;
    padding-bottom: 0;
position: relative;
}

.projekte-grafik .col-5-groß:hover, .projekte-start .col-5-groß:hover {  
box-shadow: 0px 0px 40px rgba(0, 0, 0, .3);
transform: translateY(-5px);
transform: scale(1.01);
    background-color: #4c4c4c;
}

.link:before {
content: " ";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.projekte-grafik .projektsmall{
    box-shadow: 0px 10px 20px 0 rgba(87, 37, 0, .2);
background-color: #f0c24a;
    border-radius: 30px 0 0 0;
transition: all 0.15s ease-out 0s;
flex-grow: 1; 
flex-shrink: 1;
flex-basis: 340px;
margin: 0 8% 86px 0%;
    padding-bottom: 0;
position: relative;
    width: 41.66%;
}

.projekte-grafik .projektsmall:hover{
box-shadow: 0px 0px 40px rgba(0, 0, 0, .3);
transform: translateY(-5px);
transform: scale(1.01);
    background-color: #4c4c4c;
}

.div-center{
    margin-left: 50px;
}

.projekte-grafik .col-5-klein { 
    width: 43.3%;
}
    /*margin-left: 4.5%;*/

.projekte-grafik .projektsmall-unten{
    box-shadow: 0px 10px 20px 0 rgba(87, 37, 0, .2);
background-color: #f0c24a;
    border-radius: 30px 0 0 0;
transition: all 0.15s ease-out 0s;
flex-grow: 1; 
flex-shrink: 1;
flex-basis: 340px;
margin: -50px 0 0 8%;
    padding-bottom: 0;
position: relative;
    width: 41.66%;
}

.projekte-grafik .projektsmall-unten:hover{
box-shadow: 0px 0px 40px rgba(0, 0, 0, .3);
transform: translateY(-5px);
transform: scale(1.01);
    background-color: #4c4c4c;
}

img.img-rund-small{
    border-radius: 20px 0 0 0;
}

.projekte-gold-klein a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.projekte-gold-klein p{
    text-align: center;    
}


/* Projekte Grafik Karten */
/* Lightbox */
.karten{
    text-align: center;
}

.karten h4{
    margin: 25px 0 15px 0;
}

img.example-image{
    max-width: 300px;
    margin: 0 10px -20px 50px;
    border-radius: 20px 0 0 0;
}

img.example-image:hover{
    transform: scale(1.01);
    box-shadow: 0 0 5px #a6a6a6;
}

p.einrücken{
    margin-left: 45px;
}

img.plakate{
    max-width: 380px;
    margin-right: 100px;
}

.einrücken{
    margin-left: 45px;
}


/* Projekte Grafik Corporate Design */
/* Slider */
.slider h3, .slider h4{
    text-align: center;
}

.slider h3{
    background-color: #f0c24a;
}

.slider h4{
    margin-top: 20px;
}

.slick-prev::before,
.slick-next::before {
color: #000;
}

.slick-dots li button::before {
font-size: 26px;
}

.abstand{
    margin: 20px 40px 0 30px;
}

img.imgrund{
    border-radius: 30px 0 0 0;
    margin-bottom: 20px;
    box-shadow: 0 0 5px #a6a6a6;
    transition: transform 1s ease;
}

img.imgrund:hover{
    transform: scale(2.5);
}

img.imgnaeher{
    max-width: 380px;
    height: auto;
    margin: 0 40px;
}

img.imgnaeher:hover{
    transform: scale(1.75);
}

p.einrücken2{
    margin-left: -35px;
}

p.einrücken3{
    margin-left: 0px;
}

img.transform-origin1{
    transform-origin: 90% 30%;
}

img.transform-origin2{
    transform-origin: top left;
}

img.transform-origin3{
    transform-origin: 45% 10%;
}

img.transform-origin4{
    transform-origin: 85% 60%;
}

img.transform-origin5{
    transform-origin: 15% 20%;
}

img.transform-origin6{
    transform-origin: 0% 15%;
}

img.transform-origin7{
    transform-origin: 10% 25%;
}

img.transform-origin8{
    transform-origin: 10% 15%;
}

img.transform-origin9{
    transform-origin: 90% 40%;
}

img.transform-origin10{
    transform-origin: 0% 65%;
}

img.transform-origin11{
    transform-origin: 0% 75%;
}

img.transform-origin12{
    transform-origin: 85% 80%;
}

img.transform-origin13{
    transform-origin: 0% 80%;
}

img.transform-origin14{
    transform-origin: top right;
}

img.transform-origin15{
    transform-origin: 0% 40%;
}

img.transform-origin16{
    transform-origin: 50% 40%;
}

img.transform-origin17{
    transform-origin: 100% 40%;
}

p.center{
    text-align: center;
}

p.höher{
    margin-top: -15px;
}

/* Projekte Web Design */
ul.linien_liste{
    margin: 15px 0;
    border-top: 1px solid #f0c24a;
}

.linien_liste li {
    padding: 12px 0;
    border-bottom: 1px solid #f0c24a;
}


/* Projekte & mehr */
/* Naturzeichnen */
img.abstand-rechts{
    margin-right: 70px;
}


/* Über mich */
.hero-über{
    background-image: url(../img/hero-%C3%BCber.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
}

.hero-über h1, .hero-über h2, .hero-über h4, .hero-über p{
    text-align: center;
    color: white;
}

.hero-über h1{
    margin: 50px 0 0 0;
}

.hero-über img{
    display: block;
    margin: auto;
}

.hero-über h2{
    margin: 50px 0 -15px 0;
}

.hero-über p{
    margin-bottom: 50px;
}

.hero-über h4{
    font-family: 'Alegreya Sans', Arial, Helvetica, sans-serif;
    font-style: normal;
    color: white;
    font-size: 1.9rem;
}


/* hard skills */
.hard-skills .col-4-abstand{
    min-height: 720px;
}

ul.liste-mit-bulletpoints{
    list-style: disc;
    text-align: left;
    padding: 0 20px 0 20px;
}

ul.liste-mit-bulletpoints li{
    font-size: 1.1rem;
}

ul li::marker {
    color: #f0c24a;
    font-size: 1.3rem;
    line-height: 1rem;
}

.anführungszeichen img{
    float: left;
    margin-top: 75px;
    margin-right: -60px;
}

.zitat p{
    font-size: 1.5rem;
    font-family: 'Alegreya', serif;
font-weight: 500;    
line-height: 1.2;
font-style: italic;
    text-align: center;
    margin-top: 80px;
}

p.zeugnisse-center{
    text-align: center;
    margin-top: 50px;
}


/* soft skills */
.soft-skills h3{
    color: #4c4c4c;
}

.soft-skills p{
    text-align: left;
}

img.shadow{
    box-shadow: 0 0 10px #a6a6a6;
}


/* Curriculum Vitae */
.curriculum-vitae{
    margin-top: 50px;
}

span.grey{
    color: #a6a6a6;
}


/* Kontakt */
.kontakt img {
  transform: scaleX(-1);
}

a.link-orange{
    color: #ef7701;
    text-decoration: none;
}

a.link-orange:hover{
    color: #a6a6a6;
}

form label { 
display: block;
font-weight: 600;
margin: 20px 0 10px;
}
 
input[type='text'],input[type='checkbox'], input[type='radio'],input[type='email'],textarea, select {
margin-bottom: 10px;
}
 
input[type='text'], input[type='email'], textarea, select {
width: 80%;
border: 1px solid #a6a6a6;
padding: 5px;
font: 400 1rem/1.55 'Alegreya Sans', Helvetica, Arial, sans-serif;
border-radius: 10px 0 0 0;
box-shadow: 6px 6px 10px rgba(51,51,51,0.3);
}
 
textarea {
height: 140px;
}
 
input:hover, textarea:hover{
border: 1px solid #ef7701;
}

input:focus, textarea:focus {
    outline: none; /* Standardrahmen beim Reinklicken entfernen */
    border: 1px solid #f0c24a;
}
 
input[type='submit']{
font-size: 18px;
    padding: 10px;
    border: none;
}
 
input[type='submit']:hover{
background: #f0c24a;
color: #fff;
}


/* footer */
footer{
    margin-top: 0;
}

footer h2{
    margin-top: 0;
}

footer h3{
    margin-top: 0;
}

footer a{
    color: #ef7701;
    text-decoration: none;
}

footer a:hover{
    color: #a6a6a6;
}

footer img{
    margin-right: 10px;
}

.netzwerke{
    float: left;
    margin-top: -23px;
    margin-bottom: -15px;
}

.netzwerke img:hover, .netzwerke2 img:hover{
    transform: scale(107%);
}

.netzwerke2{
    margin-top: -12px;
    float: left;
}

.linkedin-karten{
    margin-top: -4px;
}

.linkedin{
    padding-top: 20px;
}

.projekt-karten{
    padding-top: 1.5px;
}

/* Nach oben Button */
#totop{
width: 40px;
height: 40px;
background: #ef7701;
position: fixed;
bottom: 70px;
right: 70px;
border-radius: 10px 0 0 0;
font-size: 1.9rem;
border: 1px solid #fff;
line-height: 0.8rem;
padding: 12px 4px 7px 4px;
display: none;
    color: white;
}

#totop:hover{
background: #f0c24a;
cursor: pointer;
text-decoration: none;
}

footer.dunkel{
    background-image: url(../img/footer-dunkel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    margin-top: -250px;
}

footer.karten{
    margin-top: 1050px;
}

footer.mauspads{
    margin-top: -80px;
}

footer.socialmedia{
    margin-top: 680px;
}

footer.naturzeichnen{
    margin-top: 1470px;
}

footer.über{
    margin-top: -150px;
}

footer.zertifikate{
    margin-top: -110px;
}

footer.dunkel h2{
    margin-top: 100px;
    color: white;
}

footer.karten h2, footer.mauspads h2, footer.socialmedia h2, footer.naturzeichnen h2{
    margin-top: 180px;
}

footer.karten h3, footer.karten p{
    text-align: left;
}

footer.footer-plakate{
    margin-top: 810px;
}

footer.über h2{
    margin-top: 200px;
}

footer.zertifikate h2{
    margin-top: 350px;
}

footer.dunkel h3, p.hell{
    color: white;
}

.fusszeile, .fusszeile-dunkel{
    background-color: #ef7701;
    padding: 0.4px;
    text-align-last: center;
}

span.em{
    font-style: italic;
    font-size: 1.15rem;
    padding-bottom: 0;
}

.fusszeile-dunkel{
    margin-top: 50px;
}

img.hell{
    box-shadow: 0 0 5px rgba(255,255,255,0.4);
}